<%- include('components/header'); %>


    <body class="gradient">
        <span class="message" id="message">Você e algumas pessoas próximas de <span class="city" id="city"></span>
            foram privilegiadas para participarem.</span>
        <div id="site">


            <div class="section">

  


                <div class="mt-1">
                    <img class="lazy load load-rouded logo" height="127px;" width="315px"
                        src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                        data-src="./assets/images/logo.webp" alt="Alternative text to describe image.">


                </div>

                <h1><span class="load titulo font26 ">
                        <%-headline%>
                </h1>
                <p>
                    <span class="sub-texto load font15">"<%-headline2%>"</span>
                </p>
            </div>

            <div class="section load">
                <form action id="formulario">

                    <input type="hidden" class="uuid" name="uuid" value="<%= uudi %>">
                    <p>
                        <input type="text" name="name" class="name" placeholder="Seu Nome" />
                        <span class="mb-2 badge badge-danger erro-name none">Preencha seu Nome</span>
                    </p>
                    <p>
                        <input type="text" name="whatsapp" class="whatsapp" pattern="\d+((\(|)|-)\d+)?" inputmode="numeric" placeholder="Seu Whatsapp" />
                        <span class="mb-2 badge badge-danger erro-whatts none">Preencha seu Whatsapp</span>
                    </p>
                    <p class="monitoring" style="margin-bottom: 0; font-size: 17px;">
                        👋
                        <strong class="avaliable"></strong> vagas restantes...
                    </p>
                    <p class="pulse">
                        <input class="btn btn-purple" type="submit" name="submit" value="Continuar no Whatsapp" />
                    </p>
                </form>

            </div>
            <div class="video load section" id="video">
                <div class="no-sound none shadow sound" id="sound">
                    <span class="block m5">Seu video já começou</span>
                    <div class="sound-big">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" width="46.75px" height="32.563px" viewBox="7.999 9.062 46.75 32.563"
                            enable-background="new 7.999 9.062 46.75 32.563" xml:space="preserve">

                            <g class="adjustable fg">
                                <path class="smartplay-svg-color"
                                    d="M53.249,39.616c-0.186,0-0.371-0.051-0.537-0.157l-43.5-27.75c-0.466-0.297-0.603-0.916-0.306-1.381c0.298-0.466,0.917-0.601,1.381-0.306l43.5,27.75c0.467,0.297,0.604,0.916,0.307,1.381C53.901,39.453,53.579,39.616,53.249,39.616z">
                                </path>
                                <path class="blink_3 smartplay-svg-color"
                                    d="M48.896,33.467l1.699,1.085c3.497-7.791,2.073-17.271-4.313-23.659c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414C50.581,18.019,51.913,26.463,48.896,33.467z">
                                </path>
                                <path class="blink_3 smartplay-svg-color"
                                    d="M46.926,36.956c-0.612,0.863-1.286,1.695-2.059,2.469c-0.392,0.391-0.392,1.023,0,1.414c0.194,0.195,0.45,0.293,0.707,0.293c0.256,0,0.512-0.098,0.706-0.293c0.878-0.878,1.642-1.824,2.333-2.807L46.926,36.956z">
                                </path>
                                <path class="blink_2 smartplay-svg-color"
                                    d="M42.543,29.415l1.777,1.135c1.545-5.315,0.229-11.293-3.953-15.476c-0.392-0.391-1.023-0.391-1.414,0c-0.392,0.391-0.392,1.023,0,1.414C42.454,19.987,43.639,24.925,42.543,29.415z">
                                </path>
                                <path class="blink_2 smartplay-svg-color"
                                    d="M41,33.174c-0.563,0.94-1.235,1.837-2.047,2.646c-0.391,0.392-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.916-0.914,1.676-1.924,2.317-2.984L41,33.174z">
                                </path>
                                <path class="blink_1 smartplay-svg-color"
                                    d="M35.771,25.094l2.003,1.277c0.012-0.203,0.029-0.404,0.029-0.609c0-3.079-1.2-5.974-3.381-8.153c-0.391-0.391-1.022-0.391-1.414,0c-0.391,0.391-0.391,1.023,0,1.414C34.652,20.666,35.613,22.802,35.771,25.094z">
                                </path>
                                <path class="blink_1 smartplay-svg-color"
                                    d="M35.084,29.401c-0.474,1.145-1.172,2.197-2.076,3.1c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293c0.257,0,0.513-0.098,0.707-0.293c1.008-1.006,1.795-2.17,2.361-3.43L35.084,29.401z">
                                </path>
                                <polygon class="smartplay-svg-color"
                                    points="28.124,20.215 28.124,14.991 24.635,17.99  ">
                                </polygon>
                                <path class="smartplay-svg-color"
                                    d="M20.921,20.366h-6.423c-0.553,0-1,0.508-1,1.135v8.229c0,0.627,0.447,1.135,1,1.135h7.375l6.25,5.875V24.96L20.921,20.366z">
                                </path>
                            </g>
                        </svg>
                    </div>

                    <span class="block m5"> Clique aqui para ouvir </span>

                </div>
                <div class="plyr__video-embed js-player image-wrapper" data-plyr-provider="vimeo"
                    data-plyr-embed-id="<%- videoId%>" background="1">


                </div>
                <div class="progress-bar load none" id="progress">
                    <span class="progress-bar-fill" id="progress-bar" style="width: 0%;"></span>
                </div>


            </div>


            <span class="sound-warning load" style="display: none;">
                <img class="lozad"
                    src="data:image/svg+xml;charset=utf-8,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 200 150'%2F%3E"
                    data-src="./assets/images/sound.svg" height="32px" width="32px" style="margin-right: 5px;">
                Verifique se o
                <strong> som está ligado</strong>!
            </span>

            <div class="section cta">
            </div>
            <%- include('components/fbcomments'); %>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

        <%- include('components/footer'); %>
            <div class="fade-in sound" id="warning" style="display: none;">
                <div class="progress-bar progress-bar-bottom" id="progress">
                    <span class="progress-bar-fill" id="progress-bar" style="width: 0%;border-radius:0"></span>
                </div>
                Seu video já começou!
            </div>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
            
            <script>
          <%- include('assets/output/js/saibamais'); %>
            </script>
    </body>




    </html>